body{
    background-color: aquamarine ;
    margin: 0;
    padding-left: 30px;
   
}
h1{
    color: goldenrod;
}
h3{
    color: blueviolet;
}
hr{
    width: 40%;
    color: brown;
    border-width: 5%;
    border-top-style:dotted ;
}
img{
    border-radius: 50px;
   
}


@media screen and (max-width: 600px) {
    
    body{
        background-color: brown;
    }
    
  }
    

  #h2{
   
    font-size: 30px;
  }
